alembic
asgiref
attrs
autopep8
beautifulsoup4
bs4
certifi
charset-normalizer
click
colorama
cycler
docopt
dominate
enchant
exceptiongroup
faker
Flask
Flask-Bootstrap
Flask-Migrate
Flask-SQLAlchemy
fonttools
future
geographiclib
geopy
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
gradescope-utils
greenlet
gspread
gunicorn
idna
inexactsearch
iniconfig
itsdangerous
Jinja2
joblib
jsonschema
kiwisolver
Mako
MarkupSafe
pipreqs
pluggy
psycopg2
pycodestyle
pyenchant
pyparsing
pyproject-toml
pyrsistent
pyspellchecker
pytest
python-dateutil
python-whois
pyngrok
pytz
python-dotenv
regex
requests
silpa-common
six
soundex
soupsieve
stripe
SQLAlchemy
sqlparse
urllib3
